.container {
    position: absolute;
    top: 4.6rem;
    right: 0;
    min-width: 9rem;
    border-radius: 6px;
    border: 1px solid var(--clr-border-color-3);
    background: var(--clr-page-dark-bg);
    box-shadow: var(--box-shadow-1);
    overflow: hidden;
    ul {
        list-style: none;
        padding: 0.5rem 0;
        a {
            all: unset;
        }
        li {
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            transition: 0.2s;
            &:not(:last-child) {
                border-bottom: 0.5px solid #373737;
            }
            &:hover {
                background: var(--clr-primary-light);
            }
        }
    }
}
