.container {
    display: flex;
    min-height: var(--min-height);
    .main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1 1;
        padding: 1.5rem 2.5rem;
    }
}
