@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html,
body {
    line-height: 1.5em;
    scroll-behavior: smooth;
    background: var(--clr-page-bg);
}

*,
*::before,
*::after {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
input {
    color: var(--clr-white);
}
.dark-theme {
    --min-height: calc(100vh - 58px);
}

.slick-disabled {
    display: none !important;
}

.slick-track {
    padding: 1rem 0;
}

.toast-container {
    top: 4rem !important;
}

@mixin animate($animation, $duration, $method, $times) {
    // animation: $animation $duration $method $times;
    -webkit-animation-duration: $duration !important;
    -webkit-animation-timing-function: $method;
    -webkit-animation-name: $animation !important;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}
.loader {
    background-image: -webkit-linear-gradient(left, #494949, #393939 20%, #494949 40%, #494949) !important;
    @include keyframes(placeholderSkeleton) {
        0% {
            background-position: -468px 0;
        }
        100% {
            background-position: 468px 0;
        }
    }
    @include animate(placeholderSkeleton, 2s, linear, 1);
    // -webkit-animation-name: placeholderSkeleton !important;
}
